
@{
    ViewData["Title"] = "AddTask";
}

<h1>Add Task</h1>

<form action="/TaskList/AddTask" method="post">
    Task Description: <input type="text" name="Description" />
    Completed? <input type="text" name="Completed" />
    Due Date:  <input type="date" name="DueDate" />

    <input type="submit" value="Add Task" />


</form>